$aubergine-color: hsl(278, 68%, 11%);
$light-aubergine-color: hsla(278, 68%, 11%, 0.6);
$purple-color: rgba(97, 67, 249, 1);
$light-purple-color: rgba(97, 67, 249, 0.6);
$red-color: hsl(0, 100%, 66%);
$light-red-color: hsla(0, 100%, 66%, 0.6);
$orange-color: hsl(4deg 68% 66%);
$light-orange-color: rgba(227, 117, 109, 0.6);
$blue-color: hsl(219deg 81% 62%);
$light-blue-color: rgba(80, 135, 237, 0.6);
$global-background-color: #F0F0F0;